Repository SAP/ui5-webcomponents-ngx, pull requests merged in 2023-12, with the labels that each got.

#104 fix: fixed generator and parser to use some of the types directly
  libs/angular-generator/src/lib/ui5-webcomponents/component-wrapper-creator.ts
  libs/angular-generator/src/lib/ui5-webcomponents/ui5componentsWrapper.ts
  libs/api-json-parser/src/index.ts
  libs/api-json-parser/src/lib/get-components.ts
  libs/api-json-parser/src/lib/symbol-types.ts
  libs/ui5-angular/__snapshots__/fiori-snapshot-test.spec.ts.snap
  libs/ui5-angular/__snapshots__/main-snapshot-test.spec.ts.snap
  libs/wrapper/src/lib/types/component-data.ts
Labels: enhancement, tooling, ui5 webC, api.json parser, Angular generator

#103 feat: update to ui5-webcomponents 1.20.0
  apps/documentation/src/api-json.json
  libs/angular-generator/src/lib/ui5-webcomponents/component-wrapper-creator.ts
  libs/angular-generator/src/lib/ui5-webcomponents/ui5componentsWrapper.ts
  libs/api-json-parser/src/index.ts
  libs/api-json-parser/src/lib/get-components.ts
  libs/api-json-parser/src/lib/symbol-types.ts
  libs/ui5-angular/__snapshots__/fiori-snapshot-test.spec.ts.snap
  libs/ui5-angular/__snapshots__/main-snapshot-test.spec.ts.snap
  libs/ui5-angular/package.json
  libs/wrapper/src/lib/types/component-data.ts
  package.json
  yarn.lock
Labels: ui5 webC

#106 fix: add a fix for touched not being updated for reactive forms
  libs/angular-generator/src/lib/ui5-webcomponents/generic-cva.ts
Labels: bug
