Repository SAP/ui5-webcomponents-ngx, pull requests merged in 2025-04, with the labels that each got.

#209 docs: added more examples
  apps/documentation/src/app/stories/main/breadcrumbs.stories.ts
  apps/documentation/src/app/stories/main/busyindicator.stories.ts
  apps/documentation/src/app/stories/main/button.stories.ts
  apps/documentation/src/app/stories/main/combobox.stories.ts
  apps/documentation/src/app/stories/main/expandable-text.stories.ts
  apps/documentation/src/app/stories/main/fileuploader.stories.ts
  apps/documentation/src/app/stories/main/label.stories.ts
  apps/documentation/src/app/stories/main/link.stories.ts
  apps/documentation/src/app/stories/main/list.stories.ts
  apps/documentation/src/app/stories/main/multicombobox.stories.ts
  apps/documentation/src/app/stories/main/ratingindicator.stories.ts
  apps/documentation/src/app/stories/main/segmentedbutton.stories.ts
  apps/documentation/src/app/stories/main/table.stories.ts
  apps/documentation/src/app/stories/main/tag.stories.ts
  apps/documentation/src/app/stories/main/text.stories.ts
  apps/documentation/src/app/stories/main/textarea.stories.ts
  apps/documentation/src/app/stories/main/title.stories.ts
Labels: documentation

#211 chore: remove generated code
  .gitignore
  libs/ui5-angular/ai/button-state/index.ts
  libs/ui5-angular/ai/button-state/ng-package.json
  libs/ui5-angular/ai/button/index.ts
  libs/ui5-angular/ai/button/ng-package.json
  libs/ui5-angular/ai/index.ts
  libs/ui5-angular/ai/ng-package.json
  libs/ui5-angular/ai/prompt-input/index.ts
  libs/ui5-angular/ai/prompt-input/ng-package.json
  libs/ui5-angular/ai/theming/index.ts
  libs/ui5-angular/ai/theming/ng-package.json
  libs/ui5-angular/ai/ui-5/webcomponents-ai/dist/button-js/index.ts
  libs/ui5-angular/ai/ui-5/webcomponents-ai/dist/button-js/ng-package.json
  libs/ui5-angular/ai/ui-5/webcomponents-ai/dist/button-state-js/index.ts
  libs/ui5-angular/ai/ui-5/webcomponents-ai/dist/button-state-js/ng-package.json
  libs/ui5-angular/ai/ui-5/webcomponents-ai/dist/prompt-input-js/index.ts
  libs/ui5-angular/ai/ui-5/webcomponents-ai/dist/prompt-input-js/ng-package.json
  libs/ui5-angular/ai/ui5-ai.module.ts
  libs/ui5-angular/project.json
Labels: tooling

#212 fix: adopt ui5wc v.2.9.0
  apps/documentation/src/api-json.json
  apps/documentation/src/app/stories/fiori/search-item-group.stories.ts
  apps/documentation/src/app/stories/fiori/search-item.stories.ts
  apps/documentation/src/app/stories/fiori/search-message-area.stories.ts
  apps/documentation/src/app/stories/fiori/search-scope.stories.ts
  apps/documentation/src/app/stories/fiori/search.stories.ts
  apps/documentation/src/app/stories/fiori/user-settings-item.stories.ts
  apps/documentation/src/app/stories/fiori/user-settings-view.stories.ts
  libs/transformer/package.json
  libs/ui5-angular/__snapshots__/fiori-snapshot-test.spec.ts.snap
  libs/ui5-angular/__snapshots__/main-snapshot-test.spec.ts.snap
  libs/ui5-angular/package.json
  package.json
  yarn.lock
Labels: ui5 webC
